* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
}
/*------------------HERO--------------------------*/
.all__page {
  position: relative;
}
.container{
  max-width: 1300px;
  width: 100%;
}
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero.jpeg") no-repeat center;
  background-size: cover;

  position: relative;
}
.hero__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.logo__container {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo__container img {
  width: 200px;
  margin-right: 10px;
}
.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-inline: 30px;
  margin: auto;
  gap: 20px;
}

.hero__maintititle {
  font-size: 2.9em;

  color: #fff;
}

.hero__parraph {
  font-size: 1.6em;
  color: #fff;
  margin: 20px 0;
}
.btn__hero{
  display: none;
}
.btn__hero button{
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color:#6f8190;
  color: #fff;
  cursor: pointer;
 
  

}
.hero__form {
  
  border: 8px solid #020d35;
  padding: 5px;
}
.hero__wrap {
  background-color: #020d35;
  padding: 20px 30px;
}
.hero__form h2 {
  color: #fff;
  font-size: 1.7em;
}
.hero__form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 1.2em;
}
.hero__form .separator {
  width: 20%;
  height: 5px;
  background-color: #fff;
  margin: 20px 0;
}
.hero__form p {
  color: #fff;
  font-size: 1em;
  margin-bottom: 20px;
}
.form__label {
  color: #fff;
  font-size: 1em;
  margin-bottom: 10px;
  display: inline-block;
}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 1em;
}
.hero__form button {
  margin-top: 10px;
  padding: 10px 15px;

  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: #fff;
  color: #020d35;
  cursor: pointer;
}

/*------------------WHY CHOOSE US--------------------------*/
.why__choose__us {
  width: 100%;
  height: 100%;

  padding-inline: 40px;
  
  margin: 80px auto;
}
.titles {
  font-size: 3em;
  padding-bottom: 40px;
  color: #020d35;
}

.why__choose__us .grid__items {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 30px;
  text-align: center;
  
}
.grid__item {

  background-color: #fff;
}
.grid__item .icon {
  font-size: 4.4em;
  text-align: center;
  color: #6f8190;
}
.grid__item h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #020d35;
}
.grid__item p {
  color: #475156;
  font-size: 1.2em;
  text-align: justify;
  font-weight: 400;
  color: #020d35;
}

/*------------------FEATURED PROPERTIES--------------------------*/
.featured__property {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  padding-inline: 40px;
  display: grid;
  margin: 0 auto;
  margin-bottom: 80px;
}
.featured__property__padding {
  border: 1px solid #020d35;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.featured__property__padding .featured__property__image {
  width: 100%;
  height: 100vh;
  position: relative;
}
.featured__property__padding .featured__property__image .badget {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #020d35;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.featured__property__padding .featured__property__image img {
  width: 100%;
  height: 100%;
}
.featured__property__content {
  background-color: #fff;
}
.featured__property__padding .featured__property__content .main {
  margin-bottom: 50px;
}
.featured__property__content h2 {
  font-size: 2.4em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #020d35;
}
.featured__property__content .main p {
  font-size: 1.4em;
  text-align: justify;
  font-weight: 400;
  color: #020d35;
}
.featured__property__content .main .location i {
  font-size: 1.4em;
  margin-right: 10px;
  color: #6f8190;
}
.featured__property__padding .featured__property__content {
  padding: 40px;
}
.featured__property__padding .featured__property__content .main .separator {
  height: 0.25px;
  background-color: #020d35;
  margin: 20px 0;
}
.featured__property__content .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.featured__property__padding .featured__property__content .items .item {
  font-size: 1.2em;
  line-height: 1.9em;
}
.featured__property__padding .featured__property__content .items .item i {
  font-size: 1.3em;
  margin-right: 10px;
  color: #6f8190;
}
.featured__property__padding .featured__property__content .units h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #020d35;
}
.featured__property__padding .featured__property__content .units .unit_list p {
  font-size: 1.2em;
  text-align: justify;
  font-weight: 400;
  color: #020d35;
  line-height: 1.8em;
}
.featured__property__padding .featured__property__content .units .unit_list i {
  margin-right: 10px;
  color: #6f8190;
}
/*------------------GUARANTEED RENTAL PROGRAM--------------------------*/
.guaranteed__rental__program {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 30px 0;
  width: 100%;
}

.cards .card__content .card__image {
  width: 100%;
  position: relative;
}
.card .card__image .badget {
  position: absolute;
  top: 20px;
  background-color: #020d35;
  color: #fff;
  right: 20px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
}
.cards .card__content .card__image img {
  width: 100%;
}
.cards .card {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  border: 1px solid #475156;
}
.card .card__title,
.card .card__text {
  padding: 20px;
  position: relative;
}
.card .card__title h3 {
  font-size: 1.6em;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #020d35;
}

.card .card__title p {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #020d35;
  font-weight: 400;
}
.card .card__title i {
  color: #6f8190;
  margin-right: 10px;
}
.card__title .separator {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: #6f8190;
}
.card__text {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #020d35;
  font-weight: 400;
  padding: 0 20px;
  line-height: 2em;
}
.card .card__text i {
  color: #6f8190;
  margin-right: 10px;
}

.card .card__text .moreinfo {
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}
.card .card__text button {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 15px;
  border: none;
  background-color: #6f8190;
}
/*------------------MORE PROPERTIES BUTTON----------------------------*/
.more__properties__button {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}
.more__properties__button button {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;

  text-align: center;
  padding: 10px 15px;
  border: none;
  background-color: #6f8190;
}
/*------------------HOLIDAYS RENTAL PROGRAM--------------------------*/
.holidays__rental__program {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}
/*------------------FOOTER--------------------------*/
footer .footer__container {
  background-color: #020d35;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto;
  place-items: center;
}
footer .footer__container img {
  width: 10%;
  grid-column: span;
}
footer p {
  color: #fff;
  font-size: 1em;
  text-align: center;
}
/*------------------MODAL FORM--------------------------*/
.modal {
  display: grid;
  place-items: center;
  height: 100%;
  position: fixed;
  inset: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
}
.modal__content {

  background-color: #020d35;
  width: 80%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.modal__content .modal__title {
  height: 100%;
  width: 100%;
}

.modal__content .modal__title img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100%;
}

.modal__content .modal__text {
  color: #fff;
  font-size: 1.2em;
  padding: 40px;
}
.modal__text h3 {
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 40px;
}
.modal__text p {
  margin-bottom: 10px;
  font-size: 0.8em;
}
.modal__content .modal__text .separator {
  height: 2px;
  width: 100%;
  margin: 20px auto;

  background-color: #ffff;
}
.modal__content .modal__form {
  display: grid;
}
.modal__content .modal__form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
}
.modal__content .modal__form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  font-size: 0.8em;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}
.show__modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal__form button {
  color: #020d35;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
button {
  cursor: pointer;
}

/*------------------MEDIA QUERIES--------------------------*/

@media screen and (max-width: 900px) {
  .container{
    max-width:fit-content;
    width: 100%;
  }
  .hero {
    height: 100vh;
    padding: 40px;
  }
  .logo__container {
    top: 20px;
  }
  .logo__container img {
    display: inline-block;
    width: 160px;
  }
  .hero__content {
    flex-direction: column;
    padding-inline: 1rem;
  }
  .hero__content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero__content p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero__form {
    display: none;
  }
  .hero__content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  .hero__content .separator {
    display: none;
  }

  .hero__content .hero__form .form__control {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-size: 1em;
  }
  .btn__hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

  }
  /*------------------WHY CHOOSE US--------------------------*/
  .why__choose__us {
    margin: 60px 0;
    padding-inline: 20px;
  }
  .why__choose__us h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  .why__choose__us .grid__items {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*------------------FEATURED PROPERTY--------------------------*/
  .featured__property {
    padding-inline: 1rem;
  }
  .featured__property__padding {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .featured__property__padding .featured__property__image {
    width: 100%;
    height: 100%;
  }
  .featured__property__padding .featured__property__content {
    padding: auto;
  }
  .featured__property__padding .featured__property__content .main {
    margin: 0 auto;
  }
  .featured__property__padding .featured__property__content .main h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
  }
  .featured__property__padding .featured__property__content .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 100%;
    line-height: 1.6em;
  }
  /*------------------GUARANTEED RENTAL PROGRAM--------------------------*/
  .guaranteed__rental__program {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0 auto;
    padding-inline: 20px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 30px 0;
    width: 100%;
  }
  .titles {
    font-size: 2.3em;
    margin-bottom: 20px;
    text-align: center;
  }
  .holidays__rental__program{
    padding-inline: 20px;
  }
  footer .footer__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  footer .footer__container img {
    width: 20%;
    grid-column: span;
  }
  footer p {
    font-size: 0.8em;
  }

  .more__properties__button button {
    font-size: 1.2em;
  }
  /*------------------MODAL FORM--------------------------*/
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal__content {
    display: grid;

    place-items: center;
    width: 90%;
    left: 5%;
    grid-template-columns: repeat(1, 1fr);
  }
  .modal__content .modal__title {
    height: 100%;
    width: 100%;
    display: none;
  }
  .modal__content .modal__text h3 {
    font-size: 1.2em;
    margin-top: 0;
  }
  .modal__content .modal__text p {
    font-size: 0.8em;
  }
  .modal__content .modal__text .separator {
    height: 1px;
    width: 100%;
    margin: 20px auto;
  }
  .modal__content .modal__form {
    width: 100%;
    margin: 0 auto;
  }
  .modal__content .modal__form .form__control .form__label {
    font-size: 0.8em;
  }
  .modal__content .modal__form .form__control .form__input {
    font-size: 0.8em;
    margin-bottom: 5px;
  }
  .modal__content .modal__form .form__control .form__select {
    font-size: 0.8em;
  }
  .modal__form button {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}
